<div class="container">
  <app-employees></app-employees>
</div>

<!-- <div> 
  <span *ngIf = "isavailable; else condition1">Condition is valid.</span> 
  <ng-template #condition1>Condition is invalid</ng-template> 
</div> -->

<!-- <div> 
  <span *ngIf = "isavailable; then condition1 else condition2">
     Condition is valid.
  </span> 
  <ng-template #condition1>Condition is valid</ng-template> 
  <ng-template #condition2>Condition is invalid</ng-template> 
</div> -->

<!-- <button (click) = "myClickFunction($event)">
  Click Me
</button> -->

<!-- pipe
<b>{{6589.23 | currency:"USD":true}}</b> 
      // Boolean true is used to get the sign of the currency. 
    <h1>Date pipe</h1> 
      <b>{{todaydate | date:'d/M/y'}}</b>
      <br/> 
      
      <b>{{todaydate | date:'shortTime'}}</b> 


      <h1>Slice Pipe</h1> 
      <b>{{months | slice:2:6}}</b> 
      // here 2 and 6 refers to the start and the end index
    
    -->

<!-- for routing -->
    <!-- app.routing.module.ts -->
    <!-- import { NgModule } from '@angular/core'; 
    import { Routes, RouterModule } from '@angular/router'; 
    import { HomeComponent } from './home/home.component'; 
    import { ContactusComponent } from './contactus/contactus.component'; 
    
    const routes: Routes = [
       {path:"home", component:HomeComponent},
       {path:"contactus", component:ContactusComponent} 
    ];
    @NgModule({
       imports: [RouterModule.forRoot(routes)], 
       exports: [RouterModule] 
    })
    export class AppRoutingModule { } export const 
    RoutingComponent = [HomeComponent,ContactusComponent]; -->

<!-- 
    to import in app.module.ts

    import { AppRoutingModule , RoutingComponent} from './app-routing.module'; -->